{% extends 'base.html' %}

{% block departures %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures[departure] }}</h1>
    <p class="mb-4">Найдено {{ list_data[0] }} туров, от {{ list_data[2] }} до {{ list_data[1] }} и от {{ list_data[4] }} ночей до {{ list_data[3] }} ночей</p>
    <div class="row mt-5">
    {% for keys, values in tours.items() %}
    {% if values.departure == departure %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ values.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ values.title }}</h2>
            <p class="card-text">{{ values.description|truncate(100) }}</p>
            <a href="/tours/{{ keys }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
  </main>
{% endblock %}